<h3 class="ui header">{{t "forms.i-i-s-logistika123-докум-расп-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-logistika123-докум-расп-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-logistika123-докум-расп-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номерДокРаспр
      class=(if (v-get validationModel "номерДокРаспр" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika123-докум-расп-e.номерДокРаспр-caption")
      data-test-i-i-s-logistika123-докум-расп-e-номерДокРаспр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номерДокРаспр" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-logistika123-докум-расп-e.докумПоставки-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.докумПоставки
      displayAttributeName="номДокПостав"
      autocomplete=true
      relationName="докумПоставки"
      projection="ДокумПоставкиL"
      title=(t "forms.i-i-s-logistika123-докум-расп-e.докумПоставки-caption")
      readonly=readonly
      componentName="докумПоставкиLookup"
      class=(if (v-get validationModel "докумПоставки" "isInvalid") "error")
      data-test-i-i-s-logistika123-докум-расп-e-докумПоставки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "докумПоставки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПоставки.организация.наимОрганиз
      class=(if (v-get validationModel.докумПоставки.организация "наимОрганиз" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika123-докум-расп-e.докумПоставки.организация.наимОрганиз-caption")
      data-test-i-i-s-logistika123-докум-расп-e-докумПоставки-организация-наимОрганиз=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПоставки.организация "наимОрганиз" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-logistika123-докум-расп-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      displayAttributeName="фИОСотруд"
      autocomplete=true
      relationName="сотрудники"
      projection="СотрудникиL"
      title=(t "forms.i-i-s-logistika123-докум-расп-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-logistika123-докум-расп-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПоставки.клиенты.заказчик
      class=(if (v-get validationModel.докумПоставки.клиенты "заказчик" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika123-докум-расп-e.докумПоставки.клиенты.заказчик-caption")
      data-test-i-i-s-logistika123-докум-расп-e-докумПоставки-клиенты-заказчик=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПоставки.клиенты "заказчик" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПоставки.клиенты.телефон
      class=(if (v-get validationModel.докумПоставки.клиенты "телефон" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika123-докум-расп-e.докумПоставки.клиенты.телефон-caption")
      data-test-i-i-s-logistika123-докум-расп-e-докумПоставки-клиенты-телефон=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПоставки.клиенты "телефон" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докумПоставки.клиенты.адресПоставки
      class=(if (v-get validationModel.докумПоставки.клиенты "адресПоставки" "isInvalid") "error")
      label=(t "forms.i-i-s-logistika123-докум-расп-e.докумПоставки.клиенты.адресПоставки-caption")
      data-test-i-i-s-logistika123-докум-расп-e-докумПоставки-клиенты-адресПоставки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докумПоставки.клиенты "адресПоставки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-logistika123-докум-расп-e.пунктПогрузки-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.пунктПогрузки
      displayAttributeName="адрес"
      autocomplete=true
      relationName="пунктПогрузки"
      projection="ПунктПогрузкиL"
      title=(t "forms.i-i-s-logistika123-докум-расп-e.пунктПогрузки-caption")
      readonly=readonly
      componentName="пунктПогрузкиLookup"
      class=(if (v-get validationModel "пунктПогрузки" "isInvalid") "error")
      data-test-i-i-s-logistika123-докум-расп-e-пунктПогрузки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "пунктПогрузки" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-logistika123-докум-расп-e.списокБарж-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.списокБарж
      displayAttributeName="номерБаржи"
      autocomplete=true
      relationName="списокБарж"
      projection="СписокБаржL"
      title=(t "forms.i-i-s-logistika123-докум-расп-e.списокБарж-caption")
      readonly=readonly
      componentName="списокБаржLookup"
      class=(if (v-get validationModel "списокБарж" "isInvalid") "error")
      data-test-i-i-s-logistika123-докум-расп-e-списокБарж=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "списокБарж" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-logistika123-докум-расп-e.списокКонтей-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.списокКонтей
      displayAttributeName="номерКонтей"
      autocomplete=true
      relationName="списокКонтей"
      projection="СписокКонтейL"
      title=(t "forms.i-i-s-logistika123-докум-расп-e.списокКонтей-caption")
      readonly=readonly
      componentName="списокКонтейLookup"
      class=(if (v-get validationModel "списокКонтей" "isInvalid") "error")
      data-test-i-i-s-logistika123-докум-расп-e-списокКонтей=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "списокКонтей" "message")}}
  </div>
</form>
